body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}